/* Write your CSS here */
.img-notfound-sizing {
  width: 700px;
  height: 400px;
}
.heading-notfound {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;
}
.para-not-found {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}
